[class*="col"]{
    /*border: 1px solid blueviolet;*/
    background-color:#F2EDBF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container-fluid {
    background-color: #BFEAF2;
}

body { 
    background-color: #BFEAF2;
}

img{
    float: left;
    height: 80px;
    margin: 10px;
}
.headline{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
