#cards .card{
    /*border: 1px solid blueviolet;*/
    background-color: #1DBDE0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: orange;
    font-family: 'Titan One', cursive;
}

body { 
    background-color:darkblue;
}
.navbar-collapse {
    background-color: #1DBDE0;
}

img{
    float: left;
    height: 80px;
    margin: 10px;
}
.headline{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
