
*{
     margin:0;
     padding: 0;
    }
 
 #body1 {
     background: rgb(112,70,129);
     background: linear-gradient(to bottom, rgba(112,70,129,1) 19%, rgba(129,24,185,1) 50%, rgba(221,119,241,0.981127485173757) 90%);
     /*height: 100vh;
     width: 100vw;
     display: flex; */
     align-items: center;
     justify-content: center;
 }
 
 
 .container-md{
     width: 60vw;
     max-width: 100%;
     background-color: #ff9933;
     height: auto;
     padding-top: 10px;
     box-shadow: 0 0 5px 4 px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 8px;
     text-align: center;
     align-items: center;
 }
 
 .score{
     font-size: large;
     font-weight: bold;
 }
 
 .col-8{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .hide{
     display: none;
 }

